<% provide(:title, @artist.name) %>

  <h1><%= @artist.name %></h1>

  <div>
    <h4 class="center engagements">
      <%= cap_first_letter @shows.count.humanize %>
      upcoming
      <%= "engagement".pluralize(@shows.count) %>
    </h4>
  </div>



  <div class="stats">
    <h4>Top Albums</h4>
    <% @albums.each do |album| %>
      <%= link_to image_tag(album["image"][2]["#text"], alt: album["name"],
                                                        class: "album_art"),
                                                        album["url"] %>
    <% end %>
  </div>

  <div class="show_cal">
    <h4>Calendar</h4>
    <%= month_calendar events: @shows do |date, shows| %>
      <%= date.day %>
      <% shows.each do |show| %>
      <div class="cal_event">
        <%= link_to "#{show.venue_name} @ #{show[:start_time]}", show.ticket_link %>
      </div>
      <% end %>
      <% end %>
  </div>



  <div>
    <%= render partial: "shows/show", collection: @shows, as: :show %>
  </div>
