<div class="show_summary">
  <h4 class="center"><%= format_date deal[:start_date] %></h4>

  <ul>
    <li></li>
  </ul>

  <ul>
    <li>VENUE: <b><%= deal[:venue_name]%></b></li>
    <li>ADDRESS: <b><%= deal[:venue_city] %>,
      <%= deal[:venue_state] %></b></li>
  </ul>
<!--
  <ul>
    <li>PROMOTER: <b><%= deal[:promoter_contact_name]%></b></li>
    <li>PHONE: <b><%= deal[:promoter_contact_phone]%></b></li>
    <li>EMAIL: <b><%= deal[:promoter_contact_email]%></b></li>
  </ul> -->

  <ul>
    <li>CAPACITY: <b><%= deal[:sellable_capacity]%></b></li>
    <li>TICKET SCALE: <b><%= deal[:ticket_prices_and_scaling] %>
      </b></li>
    <li>GROSS POTENTIAL: <b><%= deal[:gross_potential]%></b></li>
  </ul>

  <ul>
    <li>START TIME: <b><%= deal[:start_time]%></b></li>
    <li>SET LENGTH(S): <b><%= deal[:set_length]%></b></li>
    <li>NUMBER OF SHOWS: <b><%= deal[:number_of_shows]%></b></li>
    <li>OTHER ARTISTS: <b><%= deal[:other_acts]%></b></li>
  </ul>

  <ul>
    <li>CONTRACT DUE: <b>
      <%= format_date deal[:contract_due_from_promoter]%>
      </b></li>
    <li>PARTIALLY EXECUTED: <b>
      <%= format_date deal[:contract_received]%></b></li>
    <li>FULLY EXECUTED: <b>
      <%= format_date deal[:contract_received_from_artist]%>
    </b></li>
    <li>DEPOSIT DUE: <b><%= deal[:deposit_amount_requested]%></b></li>
    <li>DEPOSIT DUE DATE: <b>
      <%= format_date deal[:deposit_due]%></b></li>
    <li>DEPOSIT RECEIVED:
      <b>$<%= deal[:deposit_amount_received]%></b></li>
  </ul>

  <ul>
    <li>FEE: <b> <%= number_to_currency deal[:amount]%></b></li>
    <% if deal[:backend] != nil %>
    <li>BACKEND: <b><%= deal[:backend].downcase%></b></li>
    <% else %>
      <li>BACKEND: </li>
      <% end %>
    <li>HOTEL: <b><%= deal[:hotel]%></b></li>
    <li>LOCAL GROUND:
      <b><%= deal[:local_ground_transportation]%></b></li>
    <li>BACKLINE: <b><%= deal[:backline]%></b></li>
  </ul>

  <ul>
    <li>ANNOUNCE: <b>
      <%= format_date deal[:announce_date]%></b></li>
    <li>ON SALE: </li>
  </ul>

  <ul>
    <li>PRODUCTION: <b><%= deal[:production_contact]%></b></li>
    <li>PHONE: <b><%= deal[:production_contact_phone]%></b></li>
    <li>EMAIL: <b><%= deal[:production_contact_email]%></b></li>
  </ul>

  <ul>
    <li>AGENT: <b><%= deal[:hubspot_owner_id]%></b></li>
    <li>CONTRACT: <b>#<%= deal[:contract_]%></b></li>
  </ul>










</div>
