<div class="row">
  <div class="col-md-6 col-md-offset-3 form_margin">
    <%= form_for(@show) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :artist %>
    <span><em>(case senstive)</em></span>
    <%= f.text_field :artist,
                    placeholder: 'ex: King Crimson',
                    class:       'form-control' %>

    <%= f.label :start_date %>
    <%= f.date_field :start_date, class: 'form-control' %>

    <%= f.label :Venue %>
    <%= f.text_field :venue_name,
                     placeholder: 'ex: State Theatre',
                     class:       'form-control' %>

    <%= f.label :addresss %>
    <%= f.text_field :address,
                     placeholder: 'ex: 279 Tremont Street, Boston, MA',
                     class:       'form-control' %>

    <%= f.label :promoter_name %>
    <%= f.text_field :promoter_name, class: 'form-control' %>

    <%= f.label :promoter_phone %>
    <%= f.text_field :promoter_phone, class: 'form-control' %>

    <%= f.label :promoter_email %>
    <%= f.text_field :promoter_email, class: 'form-control' %>

    <%= f.label :start_time %>
    <%= f.text_field :start_time,
                     placeholder: 'ex: 7:00PM',
                     class:       'form-control' %>

    <%= f.label :set_length %>
    <%= f.text_field :set_length,
                     placeholder: 'ex: seventy-five (75) minute set',
                     class:       'form-control' %>

    <%= f.label :number_of_shows %>
    <%= f.number_field :num_of_shows,
                       placeholder: 1,
                       class:       'form-control' %>

    <%= f.label :other_acts %>
    <%= f.text_field :other_acts,
                     placeholder: 'ex: The Clash',
                     class:       'form-control' %>

    <%= f.label :deposit_amount_due %>
    <%= f.number_field :deposit_due, class: 'form-control' %>

    <%= f.label :fee %>
    <%= f.number_field :fee, class: 'form-control' %>

    <%= f.label :backend %>
    <%= f.text_field :backend,
                      placeholder: 'ex: Flat Guarantee',
                      class:       'form-control' %>

    <%= f.label :hotel %>
    <%= f.text_field :hotel,
                     placeholder: 'ex: one (1) suite and two (2) single rooms',
                     class:       'form-control' %>

    <%= f.label :backline %>
    <%= f.text_field :backline,
                     placeholder: 'ex: all backine provided per rider',
                     class:       'form-control' %>

    <%= f.label :announce_date %>
    <%= f.date_field :announce, class: 'form-control' %>

    <%= f.label :on_sale_date %>
    <%= f.date_field :on_sale, class: 'form-control' %>

    <%= f.label :production_name %>
    <%= f.text_field :production_name, class: 'form-control' %>

    <%= f.label :production_phone %>
    <%= f.text_field :production_phone, class: 'form-control' %>

    <%= f.label :production_email %>
    <%= f.text_field :production_email, class: 'form-control' %>

    <%= f.submit "Add show", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
