<h1>Import Report</h1>

<% if !@show_report[:saved].empty? %>
  <h4>Successful:
    <%= @show_report[:saved].count %>
  </h4>
  <div class="show_summary">
    <ul>
      <% @show_report[:saved].each do |show| %>
        <li>
          <b><%= show.deal_id %></b>
          -
          <%= show.artist %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if !@show_report[:unsaved].empty?%>
  <h4>Unsucessful:
    <%= @show_report[:unsaved].count %>
  </h4>

  <div class="show_summary">
    <ul>
      <% @show_report[:unsaved].each do |show| %>
        <li>
          <b><%= show.deal_id %></b>
          -
          <%= show.artist %></li>
      <% end %>
    </ul>
  </div>
<% end %>
